<app-popup>
  <div class="app-popup-header">
    <h5 class="modal-title">Забери свою награду:</h5>
  </div>
  <div class="app-popup-body">

    <p>Допилить модал чтобы норм работал и без мусора. Без оверинженеринга</p>
    <p>Подавать данные призов для рулетки</p>
    <p>Тут должен идти рулетка по призам</p>
    <p>После анимации (за 200мс возможно) анимация победы</p>

    <p>Анимация появления попапа на будущее</p>
  </div>
  <div class="app-popup-footer">
    <button type="button" class="btn btn-primary">Забрал</button>
  </div>

  <!--  <app-popup-header>-->
  <!--    <h5 class="modal-title">Забери свою награду:</h5>-->
  <!--  </app-popup-header>-->

  <!--  <app-popup-body>-->
  <!--    <p>Допилить модал чтобы норм работал и без мусора. Без оверинженеринга</p>-->
  <!--    <p>Подавать данные призов для рулетки</p>-->
  <!--    <p>Тут должен идти рулетка по призам</p>-->
  <!--    <p>После анимации (за 200мс возможно) анимация победы</p>-->

  <!--    <p>Анимация появления попапа на будущее</p>-->
  <!--  </app-popup-body>-->

  <!--  <app-popup-footer>-->
  <!--    <button type="button" class="btn btn-primary">Забрал</button>-->
  <!--  </app-popup-footer>-->
</app-popup>
